.contact{
    padding: 2rem;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);
}
.contact h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.contact-form div{
    margin: 2rem;
}
.contact-form input{
    padding: 1rem;
    width: 70%;
    margin: 1rem;
    outline: none;
    border: 2px solid  rgb(73, 46, 104);
}
#comment{
    height: 20rem;
    width: 70%;
    border: 2px solid  rgb(73, 46, 104);
    padding: 1rem;
}

@media(max-width:1200px){
    .contact-form{
        width: 100%;
    }
    .contact-form input,#comment{
        width: 90%;
    }
}
